---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";



---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Lalailamas</div>
    <div class="text-3xl py-3 font-bold">Frontend developer and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        Just so you know a little about me, I am the daughter of two IT professionals—and perhaps a future mom to one. This career has provided me with the perfect balance in life, allowing me to combine my love for technology with my drive for creativity, continuous learning, and personal growth. I approach every project with positivity and a proactive mindset, always striving to deliver the best results
      </text>
    </div>
    <div class="mt-8">
      <a class="bg-pink-400 text-white px-4 py-2 rounded-md hover:bg-pink-500" href="https://github.com/lalailamas" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Backoffice App"
    img="/cover.png"
   desc="Backoffice application for managing 24/7 autonomous vending machines, including product stock, purchases, user management, layouts, and customer databases."
    url="https://github.com/lalailamas/backoffice-frontend"
    badge="IN PROGRESS"
	tools="React, NextJS, TailwindCSS, NextAuth, OAuth2, GA4"
	
  />


  <div class="divider my-0"></div>
  <HorizontalCard
    title="Community of Buildings"
    img="/building.png"
    desc="Social networking mobile application for residents of a community, allowing interaction for buying, selling, renting and expressing opinions."
    url="https://github.com/lalailamas/DEV006-social-network"
	badge="COMMUNITY"
	tools="Javascript, Firebase, Figma, Vite, Jest"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Harry Mamis"
    img="/harry-mamis.png"
    desc="Responsive application that explores the world of Harry Potter, including characters, potions, books and spells, with filtering, sorting and searching functionalities."
    url="https://github.com/lalailamas/DEV006-data-lovers?tab=readme-ov-file"
    badge="EDUCATIONAL"
  />


</BaseLayout>
